.skillsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.skillsContainer > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.skillsContainer > div:hover {
  background: transparent;
  border-color: var(--color-primary);
  cursor: default;
}

.skillsContainer > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.skillsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.skillsDetails {
  display: flex;
  gap: 1rem;
}

.skillsIcon {
  margin-top: 6px;
  color: var(--color-primary);
}

/* ===============================  MEDIA QUERY (MEDIUM DEVICES) ========================== */
@media screen and (max-width: 1024px) {
  .skillsContainer {
    grid-template-columns: 1fr;
  }

  .skillsContainer > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .skillsContent {
    padding: 1rem;
  }
}

/* ===============================  MEDIA QUERY (SMALL DEVICES) ========================== */
@media screen and (max-width: 600px) {
  .skillsContainer {
    gap: 1rem;
  }

  .skillsContainer > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
