.container.contactContainer{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contactOptions{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contactOption{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contactOption:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contactIcon{
    font-size: 1.5rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;

}

.contactOption a{
margin-top:0.7rem;
display: inline-block;
font-size: 0.8rem;
}

.contactOption  h5 {
    color: var(--color-light);
    font-size: 0.7rem;
}

.contactOption h4 {
    font-weight: 500;
}



/* ==================== FORM ===================*/

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}




/* ===============================  MEDIA QUERY (MEDIUM DEVICES) ========================== */
@media screen and (max-width: 1024px) {
    .container.contactContaainer{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
  }
  
  /* ===============================  MEDIA QUERY (SMALL DEVICES) ========================== */
  @media screen and (max-width: 600px) {
    .container.contactContaainer{
        grid-template-columns: 1fr;
       width: var(--container-width-sm);
    }
  }
  

