.header_socials{
    position: absolute;
    right: -3rem;
    bottom: 7rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
/* ===============================  MEDIA QUERY (SMALL DEVICES) ========================== */
@media screen and (max-width: 800px) {
    .header_socials{
        display: flex;
    flex-direction: column;
        gap: 0.8rem;
        right: 1rem;
    }
  }
  