.container.testimonialContainer{
   width: 40%;
}

.avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto 1rem;
    border-radius: 50%;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

/* ===============================  MEDIA QUERY (MEDIUM DEVICES) ========================== */
@media screen and (max-width: 1024px) {
   .container.testimonialContainer{
    width: 60%;
   }
  }
  
  /* ===============================  MEDIA QUERY (SMALL DEVICES) ========================== */
  @media screen and (max-width: 600px) {
    .container.testimonialContainer {
      width: var(--container-width-sm);
    }
  
   .review{
     width: var(--container-width-sm);
    
   }
  }
  

